@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
font-family: 'Nerko One', cursive;



body{
    padding: 0rem;
    margin: 0rem;
    overflow: hidden;
    background: rgb(180, 211, 117);
}


h1{
    font-family: 'Nerko One', cursive;
    font-size: 1em;
    text-align: center;
    transform: translateX(-9px);

}
header{
    background-color: yellow;
}

footer{
    object-fit: cover;
    background-color: yellow;
    text-align: center;
    
}
.container{
    object-fit: contain;

 

}
.container img{
    height: 350px;
    width: 350px;
}

footer .header{
    text-decoration: underline;
}

.box{
   text-align: center;
    background: linear-gradient(to right,rgb(131, 214, 30),rgb(52, 217, 20))
}

#btn-translate{
    transform: translateX(-3rem);
}